name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Generate key
      run: php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite

 #   - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
  #    env:
   #     DB_CONNECTION: sqlite
    #    DB_DATABASE: database/database.sqlite
    #  run: php artisan test

    - name: Install Latest Chrome
      run: |
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get install -f -y

    - name: Upgrade Chrome Driver
      run: php artisan dusk:chrome-driver

    - name: Make ChromeDriver Executable
      run: chmod +x ./vendor/laravel/dusk/bin/chromedriver-linux
      
    - name: Start Chrome Driver
      run: ./vendor/laravel/dusk/bin/chromedriver-linux > /dev/null 2>&1 &

    - name: Run Laravel Server
      run: php artisan serve > /dev/null 2>&1 &

    - name: Run Dusk Tests
      run: |
        chmod -R 0755 vendor/laravel/dusk/bin/
        php artisan dusk
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
        APP_URL: http://127.0.0.1:8000
